{{ define "main" }}
<div class="mx-auto container max-w-6xl my-5">
    <div class="block pb-16 mx-3 col-span-3 lg:col-span-2 px-2">
        <h1 class="title text-5xl mb-4">{{.Title}}</h1>
        <div class="content py-1"><a href="/" class="text-2xl duration-200 hover:opacity-60">< ホーム</a></div>
        <a href="/all/" class=" block my-7">
            <div class="text-center">
                <h3 class="text-4xl duration-200 hover:opacity-60">全体</h3>
            </div>
        </a>
        {{ range .Pages.ByWeight }}
        {{ .Render "summary" }}
        {{ end }}
    </div>
</div>
{{ end }}
